@model InfoAndLogoViewModel


<div class="row row-line-after center-align all-width">
    <div class="col s12 m12 l12 xl12">
        <img src="@Model.LogoPath"
             alt="@Model.LogoAltText" 
             class="responsive-img logo-in-panel-limit">
    </div>
    @*//TODO impostare logo prodotto AdditionalLogoPath*@
</div>