@model InfoAndLogoViewModel

<div class="col xl5 l5 hide-on-med-and-down valign-wrapper main-col background-white no-padding">
        
        <div class="row row-no-line-after center-align all-width">
            <div class="col s12 m12 l12 xl12 no-padding">
                <partial name="@MvcComponents.SharedPartialLogoWithInfo" 
                         model=@Model/>
            </div>
        </div>
</div>

<div class="col s12 m12 hide-on-large-only hide-on-extra-large-only background-white">
    <div class="row row-line-after row-line-before center-align">
        <div class="col s12 m12 no-padding">
            <partial name="@MvcComponents.SharedPartialLogoWithInfo" 
                     model=@Model/>
        </div>
    </div>
</div>