@model string

<div class="row row-line-before row-line-x2-after">
    <div class="col xl12 l12 m12 s12 ">
        <h2 class="sec-area-main-title">
            @Model
        </h2>       
    </div>
</div>