@{ 
    //don't use this layout for pages that could be viewed by users
    //at the moment used just to have a response page for scheduling calls
    //and users should not make those calls

    //(required)
    string title = ViewData.GetTitle();
}

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">@*ignora modalità compatibilità ie*@
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">

        <title>@title</title>
    </head>
   


    <body>
            @RenderBody()
    </body>
</html>